@mixin create-page() {
    width: 100%;
    margin: 0 auto;
    &__header {
        min-height: 70px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        &__infor {
            position: fixed;
            background-color: $default-page-header-background-color;
        }
    }
    &__content {}
}