@import "../../components/variables.scss";
//branch
$default-branch-color-border: green;
// highlight
$default-color-text-highlight: blue;
$default-color-text-highlight-active: pink;
$default-color-line-bottom-highlight: purple;