//page
$default-color-page-border: red;
//branch
$default-color-branch-border: green;
// highlight
$default-color-text-highlight: blue;
$default-color-text-highlight-active: gray;
$default-color-line-bottom-highlight: pink;