html,
body {
    margin: 0;
    padding: 0;
}


/*page*/

.page {
    width: 900px;
    height: 1000px;
    margin: 0 auto;
}

.page .header {
    height: 70px;
    border: 1px solid red;
    margin-bottom: 10px;
}

.page .content {
    min-height: 100%;
    border: 1px solid red;
    text-align: center;
}

.page .footer {
    height: 70px;
    border: 1px solid red;
    margin-top: 10px;
    text-align: center;
}

.page .footer .copyright {
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: lightgray;
}


/*end page*/


/*branch*/

.branch {
    display: inline-block;
    border: 1px solid blue;
    margin: 10px 0 10px 20px;
    padding: 5px;
}

.branch .logo {
    height: 40px;
    width: 40px;
}

.branch .name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    vertical-align: top;
}


/*end branch*/


/* summary  */

.summary {
    min-height: 33%;
    border: 1px solid red;
    margin: 10px;
}


/*end summary  */


/* services  */

.services {
    min-height: 33%;
    border: 1px solid red;
    margin: 10px;
}


/*end services  */


/* shopping-cart  */

.shopping-cart {
    min-height: 33%;
    border: 1px solid red;
    margin: 10px;
}

.shopping-cart #header {
    text-align: left;
    padding: 10px;
}

.shopping-cart #header span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: gray;
    text-align: left;
    padding: 10px;
}

.shopping-cart .image {
    display: inline-block;
    width: 50%;
    float: left;
}
.shopping-cart .image img{
    width: 50%;
}
.shopping-cart .right {
    display: inline-block;
    width: 50%;
}
.shopping-cart .right .title{
    display: block;
    padding: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: gray;
}
.shopping-cart .right .description{
    display: block;
    padding: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
}

/*end shopping-cart  */