html,
body {
    margin: 0;
    padding: 0;
}


/*page*/

.page {
    width: 900px;
    height: 1000px;
    margin: 0 auto;
}

.page .header {
    height: 70px;
    border: 1px solid red;
    margin-bottom: 10px;
}

.page .content {
    min-height: 100%;
    border: 1px solid red;
    text-align: center;
}

.page .footer {
    height: 70px;
    border: 1px solid red;
    margin-top: 10px;
    text-align: center;
}

.page .copyright {
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: lightgray;
}


/*end page*/


/*branch*/

.branch {
    display: inline-block;
    border: 1px solid blue;
    margin: 10px 0 10px 20px;
    padding: 5px;
}

.branch .logo {
    height: 40px;
    width: 40px;
}

.branch .name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    vertical-align: top;
}


/*end branch*/


/* summary  */

.summary {
    min-height: 33%;
    border: 1px solid red;
    margin: 10px;
}


/*end summary  */


/*services*/

.services {
    min-height: 33%;
    border: 1px solid red;
    margin: 10px;
}

.services .item {
    display: inline-block;
    width: 30%;
    margin: 5px;
}

.services .edit {
    float: left;
}

.services .shopping-basket {
    float: right;
}

.services .circle {
    margin: 0 auto;
}

.services .title {
    display: block;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
}

.services .description {
    display: block;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
}


/*end services*/


/*circle*/

.circle {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.circle .fa {
    line-height: 100px;
    vertical-align: middle;
    color: #fff;
    font-size: 3em;
}

.edit .circle {
    background: blue;
}

.show .circle {
    background: red;
}

.shopping-basket .circle {
    background: yellow;
}


/* shopping-cart  */

.shopping-cart {
    min-height: 33%;
    border: 1px solid red;
    margin: 10px;
}


/*end shopping-cart  */


/*end circle*/