html,
body {
    margin: 0;
    padding: 0;
}


/*page*/

.page {
    width: 900px;
    height: 1000px;
    margin: 0 auto;
}

.page .header {
    height: 70px;
    border: 1px solid red;
    margin-bottom: 10px;
}

.page .content {
    min-height: 100%;
    border: 1px solid red;
    text-align: center;
}

.page .footer {
    height: 70px;
    border: 1px solid red;
    margin-top: 10px;
    text-align: center;
}

.page .footer .copyright {
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: lightgray;
}


/*end page*/


/*branch*/

.branch {
    display: inline-block;
    border: 1px solid blue;
    margin: 10px 0 10px 20px;
    padding: 5px;
}

.branch .logo {
    height: 40px;
    width: 40px;
}

.branch .name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    vertical-align: top;
}


/*end branch*/

/* summary  */

.summary {
    min-height: 33%;
    border: 1px solid red;
    margin: 10px;
    position: relative;
}

.summary .content:after {
    content: "";
    display: table;
    clear: both;
}

.summary .content {
    min-height: 100%;
    border: 1px solid red;
    text-align: center;
    display: table;
    margin-left: 30px;
    margin-right: 30px;
}

.summary .fa {
    position: absolute;
    top: 50%;
}

.summary .prev {
    left: 10px;
}

.summary .next {
    right: 10px;
    left: auto;
}

.summary .photo {
    display: table-cell;
    width: 50%;
}

.summary .service-summary {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}

.summary .service-summary .title {
    margin-bottom: 10px;
    display: inherit;
}

.summary .service-summary .description {
    clear: both;
}


/*end summary  */


/* services  */

.services {
    min-height: 33%;
    border: 1px solid red;
    margin: 10px;
}


/*end services  */


/* shopping-cart  */

.shopping-cart {
    min-height: 33%;
    border: 1px solid red;
    margin: 10px;
}


/*end shopping-cart  */
