html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/*page*/

.page {
    width: 900px;
    margin: 0 auto;
}

.page__header {
    height: 70px;
    margin-bottom: 10px;
    border: 1px solid red;
}

.page__content {
    min-height: 100%;
    border: 1px solid red;
}

.page__footer {
    height: 70px;
    margin-top: 10px;
    border: 1px solid red;
    text-align: center;
}


/*end page*/


/*copyright*/

.copyright {
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: lightgray;
}


/*end copyright*/


/*multi-column*/

.multi-columns {
    width: 100%;
}

.multi-columns__pull-left {
    width: 30%;
    float: left;
}

.multi-columns__pull-right {
    width: 70%;
    float: left;
}

.multi-columns__pull-left>* {
    float: left;
}


.multi-columns__pull-right>* {
    float: right;
}


/*end multi-column*/


/*branch*/

.branch {
    margin-left: 30px;
    margin-top: 10px;
    padding: 5px;
    display: inline-block;
    border: 1px solid blue;
}

.branch__icon {
    height: 40px;
    width: 40px;
}

.branch__name {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 14px;
    vertical-align: top;
}


/*end branch*/


/*main-nav*/

.main-nav {
    list-style-type: none;
    text-align: center;
    width: 100%;
}

.main-nav__item {
    float: left;
    text-align: center;
    padding: 10px;
    list-style-type: none;
}

.main-nav__item__title {
    text-decoration: none;
    color: blue;
    display: block;
}

.main-nav__item:hover {
    background: #F1F1F1;
    color: #333;
    border-bottom: 3px solid lawngreen;
}

.main-nav__item__title:active {
    color: orange;
}

.main-nav__item--active {
    float: left;
    text-align: center;
    padding: 10px;
    list-style-type: none;
    background: #F1F1F1;
    color: #333;
    border-bottom: 3px solid lawngreen;
}

.main-nav__item--active__title {
    color: orange;
}


/*end main-nav*/


/*slider*/

.slider {
    border: 1px solid red;
    background-color: grey;
    position: relative;
    padding: 0 90px;
    margin: 10px;
}

.slider__prev {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-decoration: none;
    text-align: center;
    color: white;
    position: absolute;
    top: calc(50% - 30px);
    left: 50px;
    font-weight: 100;
}

.slider__prev::before {
    content: '\003C';
}

.slider__next {
    content: '\0000';
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-decoration: none;
    text-align: center;
    color: white;
    position: absolute;
    top: calc(50% - 30px);
    right: 50px;
}

.slider__next::before {
    content: '\003E';
}

.slider__content {
    height: 300px;
    border: 1px solid red;
}

.slider__content__photo {
    width: 50%;
    max-height: 100%;
    float: left;
}

.slider__summary {
    display: block;
    align-items: center;
    float: right;
    width: 50%;
    padding: 20px;
}

.slider__summary__title {
    color: #FFFFFF;
    font-size: 24px;
}

.slider__summary__description {
    color: #FFFFFF;
    font-size: 18px;
}


/*end slider*/


/*signup-primary*/

.signup-primary {
    padding: 7px 10px;
    border: 1px solid #4D94F3;
    background-color: #4D94F3;
}

.signup-primary>* {
    vertical-align: middle;
    display: inline-block;
}

.signup-primary__icon {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: 1px solid;
    background: #FFFFFF;
    border-radius: 50%;
    color: #468DF1;
}

.signup-primary__icon:before {
    content: "\2713";
}

.signup-primary__text {
    font-size: 15px;
    color: #FFFFFF;
    margin-left: 10px;
    vertical-align: middle;
}


/*end signup-primary*/


/*services*/

.services {
    min-height: 33%;
    border: 1px solid red;
    margin: 10px;
}

.services__item--edit {
    display: inline-block;
    width: 30%;
    margin: 5px;
    float: left;
}

.services__item--show {
    display: inline-block;
    width: 30%;
    margin: 5px;
}

.services__item--shopping-basket {
    display: inline-block;
    width: 30%;
    margin: 5px;
    float: right;
}

.services__item--edit__circle {
    margin: 0 auto;
    background: blue;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.services__item--show__circle {
    margin: 0 auto;
    background: red;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.services__item--shopping-basket__circle {
    margin: 0 auto;
    background: yellow;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.services__item__title {
    display: block;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
}

.services__item__description {
    display: block;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
}


/*end services*/


/*services__item__circle__fa*/

.services__item__circle__fa {
    line-height: 100px;
    vertical-align: middle;
    color: #fff;
    font-size: 3em;
}


/*end services__item__circle__fa*/