@mixin create-slider() {
    border: 1px solid red;
    background-color: grey;
    position: relative;
    padding: 0 90px;
    margin: 10px;
    &__prev {
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        text-decoration: none;
        text-align: center;
        color: white;
        position: absolute;
        top: calc(50% - 30px);
        left: 50px;
        font-weight: 100;
    }
    &__prev::before {
        content: '\003C';
    }
    &__next {
        content: '\0000';
        float: right;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        text-decoration: none;
        text-align: center;
        color: white;
        position: absolute;
        top: calc(50% - 30px);
        right: 50px;
    }
    &__next::before {
        content: '\003E';
    }
    &__content {
        height: 300px;
        border: 1px solid red;
        &__photo {
            width: 50%;
            max-height: 100%;
            float: left;
        }
    }
    &__summary {
        display: block;
        align-items: center;
        float: right;
        width: 50%;
        padding: 20px;
        &__content {
            align-self: center;
            padding: 30px;
        }
        &__title {
            color: #FFFFFF;
            font-size: 24px;
        }
        &__description {
            color: #FFFFFF;
            font-size: 18px;
        }
    }
}