@mixin create-icon-slider(){
    font-family: $default-font-family;
    font-size: $slider-prev-font-size;
    text-decoration: none;
    text-align: center;
    color: white;
    position: absolute;
    top: calc(50% - 30px);
    font-weight: 100;
}
@mixin create-slider($content-height:$slider-content-height) {
    border: 1px solid red;
    background-color: grey;
    position: relative;
    padding: 0 90px;
    margin: 10px;
    &__prev {
        float: left;
        @include create-icon-slider();
        left: 50px;      
        &::before {
            content: '\003C';
        }
    }
    &__next {
        content: '\0000';
        float: right;
        @include create-icon-slider();
        right: 50px;
        &::before {
            content: '\003E';
        }
    }
    &__content {
        height: $content-height;
        border: 1px solid red;
        &__photo {
            width: 50%;
            max-height: 100%;
            float: left;
        }
        &__summary {
            display: block;
            align-items: center;
            float: right;
            width: 50%;
            padding: 20px;
            &__photo {
                padding: 30px;
            }
            &__content {
                align-self: center;
                padding: 30px;
            }
            &__title {
                color: #FFFFFF;
                font-size: $slider-summary-title-font-size;
            }
            &__description {
                color: #FFFFFF;
                font-size: $slider-summary-description-font-size;
            }
        }
    }
    
}