$defaul-font-weight:100;
$defaul-text-spacing:1px;
$default-page-header-height:70px;
$default-branch-font-size:2em;
$defaul-introduction-font-weight:100;
$defaul-introduction-text-spacing:5px;
$defaul-introduction-infor-title-font-size:20px;
$defaul-introduction-infor-time-setup-font-size:70px;
$defaul-introduction-infor-explore-font-size:14px;
$defaul-services-font-weight:300;
$defaul-service-title-font-size:3em;
$defaul-services-content-item-title-font-size:2em;
$defaul-services-content-item-desc-font-size:1em;