<div class="multi-cols">
    <div class="multi-cols__col-30 multi-cols__pull-left">
        <div class="branch">
            <img src="./resources/sass/themes/blue/images/logo/png" alt="" class="log">
            <span class="name">
                Prechu
            </span>
        </div>
    </div>
    <div class="multi-cols__col-70 multi-cols__pull-right">
        <ul class="main-nav">
            <li class="main-nav__item--active">
                <a href="" class="main-nav__item--active__title">Home</a>
            </li>
            <li class="main-nav__item">
                <a href="" class="main-nav__item__title">Products</a>
            </li>
            <li class="main-nav__item">
                <a href="" class="main-nav__item__title">Services</a>
            </li>
            <li class="main-nav__item">
                <a href="" class="main-nav__item__title">Contact</a>
            </li>
        </ul>
    </div>
</div>