<div class="services">
    <div class="services__item--edit">
        <i class="services__item--edit__icon"></i>
        <span class="services__item__title">
            Contrary to popular
        </span>
        <span class="services__item__description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        </span>
    </div>
    <div class="services__item--show">
        <i class="services__item--show__icon"></i>
        <span class="services__item__title">
            Contrary to popular
        </span>
        <span class="services__item__description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        </span>
    </div>
    <div class="services__item--shopping-basket">
        <i class="services__item--show__icon"></i>
        <span class="services__item__title">
            Contrary to popular
        </span>
        <span class="services__item__description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        </span>
    </div>
</div>