html,
body {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/* page */
.page {
  width: 900px;
  margin: 0 auto; }
  .page__header {
    height: 70px;
    margin-bottom: 10px;
    border: 1px solid blue; }
  .page__content {
    min-height: 100%;
    border: 1px solid blue; }
  .page__footer {
    height: 70px;
    margin-top: 10px;
    border: 1px solid blue;
    text-align: center; }

/* end page*/
