@import "../../components/variables.scss";
$default-color-active:#fcd088;
$default-page-header-height:70px;
$default-page-header-background-color: #2a2f35;
$default-border-bottom-color: rgba(255, 255, 255, 0.1);
$default-branch-text-color:white;
$default-main-nav-item-text-color:white;
$defaul-services-content-item-desc-font-color:#656d6d;