html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/*page*/

.page {
    width: 900px;
    margin: 0 auto;
}

.page .header {
    height: 70px;
    margin-bottom: 10px;
    border: 1px solid red;
}

.page .content {
    min-height: 100%;
    border: 1px solid red;
}

.page .footer {
    height: 70px;
    margin-top: 10px;
    border: 1px solid red;
    text-align: center;
}

.page .copyright {
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: lightgray;
}


/*end page*/


/*multi-column*/

.multi-columns {
    width: 100%;
}

.multi-columns .col-30 {
    width: 30%;
    float: left;
}

.multi-columns .col-70 {
    width: 70%;
    float: left;
}

.multi-columns .col-50 {
    width: 50%;
    float: left;
}

.multi-columns .pull-left {}

.multi-columns .pull-left>* {
    float: left;
}

.multi-columns .pull-right {}

.multi-columns .pull-right>* {
    float: right;
}

.multi-columns .branch {
    margin-left: 30px;
    margin-top: 10px;
    padding: 5px;
}


/*end multi-column*/


/*branch*/

.branch {
    display: inline-block;
    border: 1px solid blue;
}

.branch .icon {
    height: 40px;
    width: 40px;
}

.branch .name {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 14px;
    vertical-align: top;
}


/*end branch*/


/*main-nav*/

.main-nav {
    list-style-type: none;
    text-align: center;
    width: 100%;
}

.main-nav .item {
    float: left;
    text-align: center;
    padding: 10px;
    list-style-type: none;
}

.main-nav .item .title {
    text-decoration: none;
    color: blue;
    display: block;
}

.main-nav .item:hover {
    background: #F1F1F1;
    color: #333;
    border-bottom: 3px solid lawngreen;
}

.main-nav .item .title:active {
    color: orange;
}

.main-nav .item.active {
    background: #F1F1F1;
    color: #333;
    border-bottom: 3px solid lawngreen;
}

.main-nav .item.active .title {
    color: orange;
}


/*end main-nav*/


/*slider*/

.slider {
    border: 1px solid red;
    background-color: grey;
    position: relative;
    padding: 0 90px;
    margin: 10px;
}

.slider .prev {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-decoration: none;
    text-align: center;
    color: white;
    position: absolute;
    top: calc(50% - 30px);
    left: 50px;
    font-weight: 100;
}

.slider .prev::before {
    content: '\003C';
}

.slider .next {
    content: '\0000';
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-decoration: none;
    text-align: center;
    color: white;
    position: absolute;
    top: calc(50% - 30px);
    right: 50px;
}

.slider .next::before {
    content: '\003E';
}

.slider .content {
    height: 300px;
    border: 1px solid red;
}

.slider .content .photo {
    width: 50%;
    max-height: 100%;
    float: left;
}

.slider .summary {
    display: block;
    align-items: center;
    float: right;
    width: 50%;
    padding: 20px;
}

.slider .summary .photo {
    padding: 30px;
}

.slider .summary .content {
    align-self: center;
    padding: 30px;
}

.slider .summary .title {
    color: #FFFFFF;
    font-size: 24px;
}

.slider .summary .description {
    color: #FFFFFF;
    font-size: 18px;
}


/*end slider*/


/*btn*/

.signup-primary {
    padding: 7px 10px;
    border: 1px solid #4D94F3;
    background-color: #4D94F3;
}

.signup-primary>* {
    vertical-align: middle;
    display: inline-block;
}

.signup-primary .icon {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: 1px solid;
    background: #FFFFFF;
    border-radius: 50%;
    color: #468DF1;
}

.signup-primary .icon:before {
    content: "\2713";
}

.signup-primary .text {
    font-size: 15px;
    color: #FFFFFF;
    margin-left: 10px;
    vertical-align: middle;
}


/*end btn*/


/*services*/

.services {
    min-height: 33%;
    border: 1px solid red;
    margin: 10px;
}

.services .item {
    display: inline-block;
    width: 30%;
    margin: 5px;
}

.services .edit {
    float: left;
}

.services .shopping-basket {
    float: right;
}

.services .circle {
    margin: 0 auto;
}

.services .title {
    display: block;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
}

.services .description {
    display: block;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
}


/*end services*/


/*circle*/

.circle {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.circle .fa {
    line-height: 100px;
    vertical-align: middle;
    color: #fff;
    font-size: 3em;
}

.edit .circle {
    background: blue;
}


/*end circle*/

.show .circle {
    background: red;
}

.shopping-basket .circle {
    background: yellow;
}


/* shopping-cart  */

.shopping-cart {
    min-height: 33%;
    border: 1px solid red;
    margin: 10px;
}


/*end shopping-cart  */


/* shopping-cart  */

.shopping-cart {
    min-height: 33%;
    border: 1px solid red;
    margin: 10px;
}

.shopping-cart #header {
    display: block;
    text-align: left;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: gray;
    text-align: left;
    padding: 10px;
}

.content-shopping-cart {
    margin: 10px;
}

.shopping-cart .image {
    display: inline-block;
    width: 50%;
    float: left;
}

.shopping-cart img {
    width: 50%;
}

.shopping-cart .summary {
    display: inline-block;
    width: 50%;
}

.shopping-cart .title {
    display: block;
    padding: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: gray;
}

.shopping-cart .description {
    display: block;
    padding: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
}


/*end shopping-cart  */