//page
$default-color-page-border: red;

//branch
$default-color-branch-border: blue;

// highlight
$default-color-text-highlight: blue;
$default-color-text-highlight-active: orange;
$default-color-line-bottom-highlight: lawngreen;