@import "../../components/variables.scss";
$default-shopping-cart-header-font-color:blue;
$default-shopping-cart-content-summary-tilte-font-color:grey;
$default-shopping-cart-content-summary-description-font-color:grey;