@import "../../components/variables.scss";
$default-services-item-edit-circle-color:blue;
$default-services-item-show-circle-color:red;
$default-services-item-shopping-basket-circle-color:yellow;
$default-services-item-title-color:blue;
$default-services-item-description-color:gray;