<div class="slider">
    <a href="" class="slider-next"></a>
    <a href="" class="slider-previous"></a>
    <div class="slider__content">
        <img src="./resources/sass/themes/blue/images/slider.png" alt="" class="slider__content__photo">
        <div class="slider__content__summary">
            <h2 class="slider__content__summary__title">Lorem ipsum</h2>
            <p class="slider__content__summary__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean</p>
        </div>
        <button class="signup">
            <i class="signup__icon"></i>
            <span class="signup__text">Sign up</span>
        </button>
    </div>
</div>