@import "../../components/variables.scss";
$branch-color-border: blue;
$color-text-highlight: red;
$color-text-highlight-active: pink;
$color-line-bottom-highlight: yellow;
$signup-border-color:red;
$signup-border-background-color:red;
$services-item-edit-circle-color:green;
$services-item-show-circle-color:purple;
$services-item-shopping-basket-circle-color:yellow;
$services-item-title-color:blue;
$services-item-description-color:gray;
$shopping-cart-header-font-color:green;
$shopping-cart-content-summary-tilte-font-color:purple;
$shopping-cart-content-summary-description-font-color:yellow;