$default-page-width: 900px;
$default-header-height:70px;
$default-footer-height:70px;
$default-text-size:14px;
$default-branch-icon-width:40px;
$default-branch-icon-height:40px;
$default-font-family: Arial,
Helvetica,
sans-serif;
$default-page-color-white:#F1F1F1;
$default-page-color-grey:#333;