$default-page-width:900px;
$default-page-color-border: red;
$default-page-border:1px solid $default-page-color-border;
$default-page-header-margin-top:10px;
$default-page-header-height:70px;
$default-page-footer-margin-top:10px;
$default-page-footer-height:70px;
$default-font-family:Arial,
Helvetica,
sans-serif;
$default-slider-prev-font-size:50px;
$default-slider-next-font-size:50px;
$default-slider-content-height:300px;
$default-slider-summary-title-font-size:24px;
$default-slider-summary-description-font-size:18px;
$default-signup-primary-icon-width:25px;
$default-signup-primary-icon-height:25px;
$default-signup-primary-font-size:15px;